/* ./lib/style/home1.css */

/* 공통 스타일 */

/* 링크 스타일 */
a {
    text-decoration: underbar; /* 밑줄 스타일 */
    color: #000; /* 글자 색상 */
}

/* 목록 스타일 */
ul {
    list-style: none; /* 목록 기호 제거 */
}

/* 컨테이너 스타일 */
.container {
    padding: 0 20px; /* 좌우 여백 설정 */
    margin: 0 auto; /* 가운데 정렬 */
    min-width: 1160px; /* 최소 너비 */
}

/* 헤더 스타일 */
header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc; /* 아래 테두리 선 추가 */
}

/* 로고 스타일 */
.header_logo {
    width: 20%;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; /* 대문자 변환 */
}

/* 네비게이션 스타일 */
.header_menu {
    width: 60%;
    text-align: center;
}

.header_menu li {
    display: inline-block;
}

.header_menu li a { 
    padding: 13px 30px;
    margin: 0 5px;
    transition: background-color 0.3s; /* 배경색 전환 애니메이션 */
}

.header_menu li:hover {
    background-color: #f1f1f1; /* 마우스 호버 시 배경색 변경 */
    border-radius: 5px; /* 모서리 둥글게 */
}

/* 셀렉터 스타일 */
.select-form,
.search-form {
    margin-top: 20px; /* 위 여백 설정 */
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* 셀렉트 박스 스타일 */
.select-form select {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    width: 150px;
}

/* 홈페이지 고유 스타일 추가 가능 */
/* 전체 스타일 */
body {
    font-family: 'Roboto', sans-serif;
    color: #444;
    background-color: #F3F3F3;
}

.containe {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
/* 문제 영역 스타일 */
#user_id, #question_title, #question_description, #question_answer, #question_category {
    margin-top: 20px;
    margin-bottom: 20px;
}

#question_image {
    max-width: 100%;
    height: auto;
}

/* 정답 입력 폼 스타일 */
.forms {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

input[type="text"] {
    width: 70%;
    padding: 12px 20px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
/* 업데이트, 삭제 버튼 스타일 */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form[action="delete_process"], a[href^="/update"] {
    margin: 0 10px;
}

input[type="submit"][value="delete"] {
    background-color: #5E8B7E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    width: 100px; /* 버튼 너비 고정 */
    height: 50px; /* 버튼 높이 고정 */
    line-height: 30px; /* 텍스트를 버튼 중앙에 위치시키기 위해 */
    text-align: center; /* 텍스트를 버튼 중앙에 위치시키기 위해 */
    font-size: 18px; /* 텍스트 크기 조정 */
}
a[href^="/update"] {
    background-color: #5E8B7E;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 18px; /* 텍스트 크기 조정 */
}s
input[type="submit"][value="delete"]:hover, a[href^="/update"]:hover {
    background-color: #5E8B7E;
}